@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300;400;500;600;800&display=swap');
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
    overflow: hidden;
	position: relative;
}

body {
    font: 300 16px/1.2 'Montserrat', Raleway, verdana, sans-serif; 
    color: $font_color;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col {

	&--25 {
		width: calc(25% - 15px);
		flex-shrink: 0;
	}
}

.title-30 {
	font-size: 30px;
	font-weight: 600;
	color: $dark;
	text-align: center;
	margin: 0 0 25px;

	&--left {
		@extend .title-30;
		text-align: left;
	}

	&--white {
		@extend .title-30;
		color: $white;
		font-weight: 500;
	}
}

.text {
	text-align: center;
	max-width: 770px;
	margin: 0 auto 35px;

	&--white {
		@extend .text;
		color: $white;
		max-width: 570px;
	}

	&--left {
		text-align: left;
		max-width: 670px;
	}
}