.ideas {
  padding: 75px 0 0;
  background-color: $gray_bg;

  &__container {
    @extend .container;
    padding: 0;
  }

  &__footer {
    padding: 45px 0 47px;
    background: rgb(33,27,25);
    background: linear-gradient(90deg, rgba(33,27,25,1) 0%, rgba(56,40,32,1) 50%, rgba(78,52,39,1) 100%);

    .container {
      padding: 0 30px;
    }
  }
}